<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input placeholder="City Name" [(ngModel)]="cityName"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="getData()">Show Weather</ion-button>
    <br>

    <ion-card class="ion-no-margin">
      <ion-item-divider color="light">
        City Map
      </ion-item-divider>
      <img
        src="https://maps.googleapis.com/maps/api/staticmap?center={{cityName}}&key=AIzaSyBMHyRmzWdtGbA99emL76H9k9XwxvX4Iso"
      />
    </ion-card>

    <ion-card class="ion-no-margin">
      <ion-item-divider color="light">
        Location Details
      </ion-item-divider>
      <ion-item> City: {{ weatherInfo.name }}</ion-item>
      <ion-item *ngIf="weatherInfo.sys">
        Country: {{ weatherInfo.sys.country }}</ion-item
      >
      <ion-item *ngIf="weatherInfo.coord">
        Coordinates: {{ weatherInfo.coord.lon }},
        {{ weatherInfo.coord.lat }}</ion-item
      >
    </ion-card>

    <ion-card class="ion-no-margin">
      <ion-item-divider color="light">
        Weather Details
      </ion-item-divider>

      <ion-item *ngIf="weatherInfo.main">
        Temperature: {{ weatherInfo.main.temp }} Kelvin</ion-item
      >

      <ion-item *ngIf="weatherInfo.main">
        Pressure: {{ weatherInfo.main.pressure }} mmHg</ion-item
      >

      <ion-item *ngIf="weatherInfo.main">
        Humidity: {{ weatherInfo.main.humidity }} %</ion-item
      >
    </ion-card>
    <ion-card class="ion-no-margin" *ngIf="weatherInfo.wind">
      <ion-item-divider color="light">
        Wind Details
      </ion-item-divider>

      <ion-item> Wind: {{ weatherInfo.wind.speed }} m/sec</ion-item>

      <ion-item> Angle: {{ weatherInfo.wind.deg }} deg</ion-item>
    </ion-card>
  </div>
</ion-content>
